<h2>
    PURCHASES
</h2>

<a href="./">
    HOME
</a>
<a id="adduser" href="./purchases/new">
    ADD PURCHASE
</a>

<table class="table">
    <thead>
        <tr>
            <th>Purchase ID</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Users ID</th>
            <th>Products ID</th>
        </tr>
    </thead>
    <tbody>
        <% @purchases.sort.each do |purchase| %>
        <tr>
            <td>
                <%= purchase[:id] %>
            </td>
            <td>
                <%= purchase[:purchase_date] %>
            </td>
            <td>
                <%= purchase[:status] %>
            </td>
            <td>
                <%= purchase[:users_id] %>
            </td>
            <td>
                <%= purchase[:products_id]%>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/purchases/<%=purchase[:id]%>">
                    Show
                </a>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/purchases/<%= purchase[:id] %>/edit">Edit</a>
            </td>
            <td class="buttons">
                <form action="/purchases/<%=purchase[:id]%>" method="post">
                    <input id="delete" type="hidden" name="_method" value="Delete">
                    <input id="delete" type="submit" value="Delete">
                </form>
            </td>

    </tr>
    <% end %>
</tbody>
</table>
