<h2> PURCHASE ID: <%= @purchases[:id] %> </h2>

<p>
  PURCHASE DATE:  <%= @purchases[:purchase_date] %>
</p>

<p>
  STATUS: <%= @purchases[:status] %>
</p>

<p>
  USERS ID: <%= @purchases[:users_id] %>
</p>

<p>
  PRODUCTS ID: <%= @purchases[:products_id] %>
</p>

<p>
  CREATED AT: <%= @purchases[:created_at] %>
</p>

<p>
  UPDATED AT <%= @purchases[:updated_at] %>
</p>

<a id="backtwo" href="../purchases"> BACK </a>
