<h2> Each Product </h2>

<p>
  PRODUCT ID: <%= @products[:id] %>
</p>

<p>
  The name of the product is <%= @products[:name] %>
</p>

<p>
  Its Brand ID is <%= @products[:brand_id] %>
</p>

<p>
  Its Category ID is <%= @products[:category_id] %>
</p>

<p>
  Its Price is: <%= @products[:price] %>
</p>
