<h2> Each Purchase </h2>

<p>
  PURCHASE ID: <%= @purchases[:id] %>
</p>

<p>
  The user id is <%= @purchases[:user_id] %>
</p>

<p>
  Its product ID is <%= @purchases[:product_id] %>
</p>

<p>
  Its Purchase Date is <%= @purchases[:purchase_date] %>
</p>

<p>
  Its Status is: <%= @purchases[:status] %>
</p>
