<h2>
    CATEGORIES
</h2>

<a href="./">
    HOME
</a>
<a id="adduser" href="./categories/new">
    ADD CATEGORY
</a>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Parent Category</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.sort.each do |category| %>
        <tr>
            <td>
                <%= category[:id] %>
            </td>
            <td>
                <%= category[:name] %>
            </td>
            <td>
                <%= category[:parent_category_id] %>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/categories/<%=category[:id]%>">
                    Show
                </a>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/categories/<%= category[:id] %>/edit">Edit</a>
            </td>
            <td class="buttons">
                <form action="/categories/<%=category[:id]%>" method="post">
                    <input id="delete" type="hidden" name="_method" value="Delete">
                    <input id="delete" type="submit" value="Delete">
                </form>
            </td>

    </tr>
    <% end %>
</tbody>
</table>
