<h2> CATEGORY ID: <%= @categories[:id] %> </h2>

<p>
  NAME:  <%= @categories[:name] %>
</p>

<p>
  PARENT CATEGORY ID: <%= @categories[:parent_category_id] %>
</p>

<p>
  STATUS: <%= @categories[:status] %>
</p>

<p>
  CREATED AT: <%= @categories[:created_at] %>
</p>

<p>
  UPDATED AT <%= @categories[:updated_at] %>
</p>

<a id="backtwo" href="../categories"> BACK </a>
