<h2>
    USERS
</h2>

<a href="./">
    HOME
</a>
<a id="adduser" href="./users/new">
    ADD USER
</a>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @users.sort.each do |user| %>
        <tr>
            <td>
                <%= user[:id] %>
            </td>
            <td>
                <%= user[:name] %>
            </td>
            <td>
                <%= user[:email] %>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/users/<%=user[:id]%>">
                    Show
                </a>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/users/<%= user[:id] %>/edit">Edit</a>
            </td>
            <td class="buttons">
                <form action="/users/<%=user[:id]%>" method="post">
                    <input id="delete" type="hidden" name="_method" value="Delete">
                    <input id="delete" type="submit" value="Delete">
                </form>
            </td>

            <!-- <a href="users/<%=user[:id]%>"> Delete </a> -->
    </tr>
    <% end %>
</tbody>
</table>
