<h2> USER ID: <%= @users[:id] %> </h2>

<p>
  NAME:  <%= @users[:name] %>
</p>

<p>
  EMAIL: <%= @users[:email] %>
</p>

<p>
  ZIP CODE: <%= @users[:address] %>
</p>

<p>
  PASSWORD: <%= @users[:password] %>
</p>

<p>
  CC NUMBER: <%= @users[:cc_number] %>
</p>

<p>
  JOINED ON <%= @users[:date_joined] %>
</p>

<a id="backtwo" href="../users"> BACK </a>
