<h2> Each User </h2>

<p>
  USER ID: <%= @users[:id] %>
</p>

<p>
  The name of the user is <%= @users[:name] %>
</p>

<p>
  His/her email address is <%= @users[:email] %>
</p>

<p>
  He/She lives at zip code: <%= @users[:address] %>
</p>

<p>
  His password(ssshhhh) is: <%= @users[:password] %>
</p>

<p>
  Sissy number is: <%= @users[:cc_number] %>
</p>

<p>
  He/She joined on <%= @users[:date_joined] %>
</p>
