<h2>
    PRODUCTS
</h2>

<a href="./">
    HOME
</a>
<a id="adduser" href="./products/new">
    ADD PRODUCT
</a>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand ID</th>
        </tr>
    </thead>
    <tbody>
        <% @products.sort.each do |product| %>
        <tr>
            <td>
                <%= product[:id] %>
            </td>
            <td>
                <%= product[:name] %>
            </td>
            <td>
                <%= product[:brand_id] %>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/products/<%=product[:id]%>">
                    Show
                </a>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/products/<%= product[:id] %>/edit">Edit</a>
            </td>
            <td class="buttons">
                <form action="/products/<%=product[:id]%>" method="post">
                    <input id="delete" type="hidden" name="_method" value="Delete">
                    <input id="delete" type="submit" value="Delete">
                </form>
            </td>

    </tr>
    <% end %>
</tbody>
</table>
