<h2> PRODUCT ID: <%= @products[:id] %> </h2>

<p>
  NAME:  <%= @products[:name] %>
</p>

<p>
  BRAND ID: <%= @products[:brand_id] %>
</p>

<p>
  CATEGORY ID: <%= @products[:category_id] %>
</p>

<p>
  PRICE: <%= @products[:price] %>
</p>

<p>
  CREATED AT: <%= @products[:created_at] %>
</p>

<p>
  UPDATED AT <%= @products[:updated_at] %>
</p>

<a id="backtwo" href="../products"> BACK </a>
