<h2>
    BRANDS
</h2>

<a href="./">
    HOME
</a>
<a id="adduser" href="./brands/new">
    ADD BRAND
</a>

<table class="table">
    <thead>
        <tr>
            <th>Brand ID</th>
            <th>Name</th>
            <th>Category ID</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        <% @brands.sort.each do |brand| %>
        <tr>
            <td>
                <%= brand[:id] %>
            </td>
            <td>
                <%= brand[:name] %>
            </td>
            <td>
                <%= brand[:category_id] %>
            </td>
            <td>
                <%= brand[:supplier] %>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/brands/<%=brand[:id]%>">
                    Show
                </a>
            </td>
            <td class="buttons">
                <a class="tablebutton" href="/brands/<%= brand[:id] %>/edit">Edit</a>
            </td>
            <td class="buttons">
                <form action="/brands/<%=brand[:id]%>" method="post">
                    <input id="delete" type="hidden" name="_method" value="Delete">
                    <input id="delete" type="submit" value="Delete">
                </form>
            </td>

    </tr>
    <% end %>
</tbody>
</table>
