<h2> BRAND ID: <%= @brands[:id] %> </h2>

<p>
  NAME:  <%= @brands[:name] %>
</p>

<p>
  CATEGORY ID: <%= @brands[:category_id] %>
</p>

<p>
  SUPPLIER: <%= @brands[:supplier] %>
</p>

<p>
  CREATED AT: <%= @brands[:created_at] %>
</p>

<p>
  UPDATED AT <%= @brands[:updated_at] %>
</p>

<a id="backtwo" href="../brands"> BACK </a>
